.card {
    background-color: var(--color-white);
    padding: 2.5rem;
    border-radius: 1rem;
}

.accordions {
    border-bottom: .1rem solid var(--color-light-pink);
    
}

.bordernone {
    border: none;
}

h2 {
    padding-bottom: 2rem;
    font-size: 4.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--color-dakr-purple);
}

.card .accordions.active  .content{
    display: block;
    
}

.accordions .label {
    padding: 1.5rem 0rem 1.5rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-dakr-purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    transition: .2s;
    cursor: pointer;
}

.accordions .label:hover{
    color: rgb(179, 3, 179);
}

.accordions .label img {
    width: 2.2rem;
}

.accordions .label4 {
    border: none;
}




.card {
    background-color: var(--color-white);
    padding: 2.5rem;
    border-radius: 1rem;
}

.accordions {
    border-bottom: .1rem solid var(--color-light-pink);
    
}

.bordernone {
    border: none;
}

h2 {
    padding-bottom: 2rem;
    font-size: 4.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--color-dakr-purple);
}

.accordions .label {
    padding: 1.5rem 0rem 1.5rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-dakr-purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    transition: .2s;
    cursor: pointer;
}

.accordions .label:hover{
    color: rgb(179, 3, 179);
}

.accordions .label img {
    width: 2.2rem;
}

.accordions .label4 {
    border: none;
}



.accordions .content p {

    max-width: 55rem;
    padding: 1rem .5rem .5rem 0rem;
    color: var(--color-grayish-purple);
}

.minus {
    display: none;
}

.card .accordions.active .plus {
    display: none;
}

.card .accordions.active .minus {
    display: block;
}

.accordions .content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding-bottom: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, padding-bottom 0.3s ease-out;
}

.card .accordions.active .content {
    max-height: 200px; 
    opacity: 1;
    padding-bottom: 2rem;
}
.accordions .content p {

    max-width: 55rem;
    padding: 1rem .5rem .5rem 0rem;
    color: var(--color-grayish-purple);
}

.minus {
    display: none;
}

.card .accordions.active .plus {
    display: none;
}

.card .accordions.active .minus {
    display: block;
}